{{ form_start(form, {attr: {class: 'form-horizontal'}}) }}
<p>{{ form_errors(form) }}</p>
<div class="form-group">
    {{ form_label(form.password, 'app.account.user.password'|trans, { label_attr: { class: 'col-sm-5' }} ) }}
    <div class="col-sm-7">
        {{ form_widget(form.password) }}
        {{ form_errors(form.password) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.newPassword, 'app.account.user.new_password'|trans, { label_attr: { class: 'col-sm-5' }} ) }}
    <div class="col-sm-7">
        {{ form_widget(form.newPassword) }}
        {{ form_errors(form.newPassword) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.confirmNewPassword, 'app.account.user.confirm_password'|trans, { label_attr: { class: 'col-sm-5' }} ) }}
    <div class="col-sm-7">
        {{ form_widget(form.confirmNewPassword) }}
        {{ form_errors(form.confirmNewPassword) }}
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
        <input type="submit" value="{{ 'app.form.button.send'|trans }}" class="btn btn-primary"/>
        <a href="{{ app.request.get('referer') }}" class="btn btn-default">
            {{ 'app.form.button.cancel'|trans }}
        </a>
    </div>
</div>
{{ form_end(form) }}
