{{ form_start(form, {attr: {class: 'col-xs-offset-1 col-xs-10' }}) }}
    {{ form_row(form.promotion) }}

    <input type="submit" value="{{ 'app.form.button.send'|trans }}" class="btn btn-primary"/>
    <a href="{{ app.request.get('referer') }}" class="btn btn-default">
        {{ 'app.form.button.cancel'|trans }}
    </a>
{{ form_end(form) }}
