{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.students'|trans }}</h1>
            </div>

            {% include 'AppBundle:partials:pagination.html.twig' with {'pagination': pagination} %}

            <article class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'app.account.user.first_name'|trans }}</th>
                        <th>{{ 'app.account.user.last_name'|trans }}</th>
                        <th>{{ 'app.account.user.login_identifier'|trans }}</th>
                        <th>{{ 'app.account.user.email'|trans }}</th>
                        <th>{{ 'app.page.information.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in  students %}
                        <tr>
                            <td>{{ student.user.firstName }}</td>
                            <td>{{ student.user.lastName }}</td>
                            <td>{{ student.user.loginIdentifier }}</td>
                            <td>{{ student.user.email }}</td>
                            <td>
                                <a href="{{ path('user_bundle_show_user', {'userIdentifier': student.user.loginIdentifier}) }}"
                                   class="btn btn-default">
                                    {{ 'app.form.button.see'|trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>

            {% include 'AppBundle:partials:pagination.html.twig' with {'pagination': pagination} %}

        </div>
    </section>
{% endblock %}
