<div class="training-manager-information">
    <article class="col-xs-offset-1 col-xs-9">
        <table class="table">
            <tr>
                <th class="text-right col-xs-5">{{ 'app.account.user.promotion'|trans }}</th>
                <td class="col-xs-5">{{ trainingManager.promotion }}</td>
            </tr>
        </table>
    </article>
    <div class="col-xs-1">
        <button class="edit-training-manager btn btn-default">
            {{ 'app.form.button.edit'|trans }}
        </button>
    </div>
</div>

<script>
    $('button.edit-training-manager').click(function () {
        var url = '{{ path('app_training_manager_edit', {'userId': trainingManager.user.id}) }}';
        $.ajax({
            url: url,
            type: 'post',
            success: function (html) {
                $('.training-manager-information').replaceWith(html);
            }
        });
    });
</script>