{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Une erreur est survenue : {{ status_text }}{% endblock %}

{% block sidebar %}{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1>Contenu protégé</h1>

        <h2>Vous n'avez pas les droits d'accès à cette page.</h2>

        <a class="underlined" href="#" onClick="event.preventDefault();history.back();">
            Retournez à la page précédente
        </a>
    </div>
{% endblock %}