{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Une erreur est survenue : {{ status_text }}{% endblock %}

{% block sidebar %}{% endblock %}

{% block main %}
    <div class="jumbotron">
        <h1>Oups! <small>Une erreur est survenue</small></h1>

        <h2>Le serveur a retourné "500 Internal Server Error".</h2>

        <a class="underlined" href="#" onClick="event.preventDefault();history.back();">
            Retournez à la page précédente
        </a>
    </div>
{% endblock %}