{% extends 'CommunicationBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.send_message'|trans }}</h1>
            </div>

            <article class="row">
                <p>{{ 'app.page.information.message.from'|trans }}&nbsp;:&nbsp;{{ author.completeName }}</p>
                <p>
                    {{ 'app.page.information.message.to'|trans }}&nbsp;:&nbsp;
                    {% for receiver in receivers %}
                        {{ receiver.user.completeName }},
                    {% endfor %}
                </p>
                {{ form_start(form, {attr: {class: 'col-xs-offset-1 col-xs-10' }}) }}
                {{ form_row(form.title) }}
                {{ form_row(form.attachment) }}

                {% include '@App/partials/wysihtml5_toolbar.html.twig' %}
                {{ form_row(form.content) }}
                <input type="submit" value="{{ 'app.form.button.send'|trans }}" class="btn btn-primary"/>
                <a href="{{ app.request.get('referer') }}" class="btn btn-default">
                    {{ 'app.form.button.cancel'|trans }}
                </a>
                {{ form_end(form) }}
            </article>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('thirdparty/wysihtml5/dist/wysihtml5-0.3.0.min.js') }}"></script>
    <script src="{{ asset('thirdparty/wysihtml5/parser_rules/advanced.js') }}"></script>
    <script>
        var editor = new wysihtml5.Editor("create_message_content", { // id of textarea element
            toolbar: "wysihtml5-toolbar", // id of toolbar element
            parserRules: wysihtml5ParserRules // defined in parser rules set
        });
    </script>
{% endblock %}
