{{ form_start(form) }}
    {{ form_row(form.attachment) }}
    {% include '@App/partials/wysihtml5_toolbar.html.twig' %}
    {{ form_row(form.content) }}
    <input type="submit" value="{{ 'app.form.button.send'|trans }}" class="btn btn-primary"/>
    <a href="{{ app.request.get('referer') }}" class="btn btn-default">
        {{ 'app.form.button.cancel'|trans }}
    </a>
{{ form_end(form) }}
