{% extends '::base.html.twig' %}

{% block navbar %}
    {% include '@App/partials/navbar.html.twig' %}
{% endblock %}

{% block sidebar %}
    {% if app.user.isAdmin %}
        <nav>
            <div class="list-group">
                <a href="{{ path('user_bundle_list_user') }}" class="list-group-item">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ 'app.sidebar.user'|trans }}
                </a>
                <a href="{{ path('app_user_student_show_formations') }}" class="list-group-item">
                    <span class="glyphicon glyphicon-education" aria-hidden="true"></span> {{ 'app.sidebar.formations'|trans }}
                </a>
                <a href="{{ path('app_user_student_show_list_promotion') }}" class="list-group-item">
                    <span class="glyphicon glyphicon-education" aria-hidden="true"></span> {{ 'app.sidebar.promotions'|trans }}
                </a>
            </div>
        </nav>
    {% endif %}

    {% if app.user.isSecretary %}
        <nav>
            <div class="list-group">
                <a href="{{ path('user_bundle_list_user') }}" class="list-group-item">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ 'app.sidebar.user'|trans }}
                </a>
            </div>
        </nav>
    {% endif %}

    {% if app.user.isStudent %}
        <nav>
            <div class="list-group">
                <a href="{{ path('app_user_report') }}" class="list-group-item">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ 'app.sidebar.report'|trans }}
                </a>
                <a href="{{ path('communication_bundle_list_flow') }}" class="list-group-item">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ 'app.sidebar.message'|trans }}
                </a>
                {% render(controller('AppBundle:Student/Student:getAlternationCalendar')) %}
            </div>
        </nav>
    {% endif %}

    {% if app.user.isTutor %}
        <nav>
            <div class="list-group">
                <a href="{{ path('app_user_tutor_student_reports') }}" class="list-group-item">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ 'app.sidebar.report'|trans }}
                </a>
                <a href="{{ path('communication_bundle_list_flow') }}" class="list-group-item">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ 'app.sidebar.message'|trans }}
                </a>
                {% render(controller('AppBundle:Tutor/CompanyTutor:getStudentAlternationCalendar')) %}
            </div>
        </nav>
    {% endif %}

    {% if app.user.isProfessor %}
        <nav>
            <div class="list-group">
                <a href="{{ path('communication_bundle_list_flow') }}" class="list-group-item">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ 'app.sidebar.message'|trans }}
                </a>
            </div>
        </nav>
    {% endif %}

    {% if app.user.isTrainingManager %}
        <nav>
            <div class="list-group">
                <a href="{{ path('app_user_training_manager_list_students') }}" class="list-group-item">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ 'app.sidebar.students'|trans }}
                </a>
                <a href="{{ path('app_user_student_show_formations') }}" class="list-group-item">
                    <span class="glyphicon glyphicon-education" aria-hidden="true"></span> {{ 'app.sidebar.formations'|trans }}
                </a>
                <a href="{{ path('app_user_student_show_list_promotion') }}" class="list-group-item">
                    <span class="glyphicon glyphicon-education" aria-hidden="true"></span> {{ 'app.sidebar.promotions'|trans }}
                </a>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}{% endblock %}
