{% if schoolTutor %}
    <div class="col-sm-5">
        <blockquote>
            <address>
                <strong>{{ schoolTutor.user.completeName }}</strong><br>
                <strong>{{ schoolTutor.companyName }}</strong><br>
                {{ schoolTutor.street }}<br>
                {{ schoolTutor.city }}, {{ schoolTutor.zipCode }} - {{ schoolTutor.country }}<br>
            </address>
            <a class="btn btn-default" href="{{ path('communication_bundle_create_new_message_to_professor') }}">
                <span class="glyphicon glyphicon-pencil"></span> {{ 'app.page.information.send_message'|trans }}
            </a>
        </blockquote>
    </div>
{% endif %}

{% if companyTutor %}
    <div class="col-sm-5">
        <blockquote>
            <address>
                <strong>{{ companyTutor.user.completeName }}</strong><br>
                <strong>{{ companyTutor.companyName }}</strong><br>
                {{ companyTutor.street }}<br>
                {{ companyTutor.city }}, {{ companyTutor.zipCode }} - {{ companyTutor.country }}<br>
            </address>
            <a class="btn btn-default" href="{{ path('communication_bundle_create_new_message_to_tutor') }}">
                <span class="glyphicon glyphicon-pencil"></span> {{ 'app.page.information.send_message'|trans }}
            </a>
        </blockquote>
    </div>
{% endif %}

{% if not schoolTutor and not companyTutor %}
    <div class="col-sm-5">
        <p>{{ 'app.page.information.tutors_not_set'|trans }}</p>
    </div>
{% endif %}
