{% if alternationCalendarPath %}
    <a href="{{ asset(alternationCalendarPath) }}" class="list-group-item" target="_blank">
        <span class="glyphicon glyphicon-calendar"
              aria-hidden="true"></span> {{ 'app.sidebar.alternation_calendar'|trans }}
    </a>
{% else %}
    <div class="list-group-item disabled">
        <span class="glyphicon glyphicon-calendar"
              aria-hidden="true"></span> {{ 'app.sidebar.no_alternation_calendar'|trans }}
    </div>
{% endif %}
