{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'app.account.user.name'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for group in  groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}