<article class="col-xs-12">
    <div class="list-group">
        {% if students %}
            {% for student in students %}
                <div class="well col-sm-4 col-xs-offset-1">
                    <p>{{ 'app.account.user.name'|trans }} : {{ student.user.completeName }}</p>

                    <p>{{ 'app.account.user.promotion'|trans }} : {{ student.promotion }}</p>

                    <p>{{ 'app.account.user.company_tutor_name'|trans }} : {{ student.userCompanyTutor }}</p>

                    <p>{{ 'app.account.user.company_name'|trans }} : {{ student.userCompanyTutor.companyName }}</p>
                    <details>
                        <summary>{{ 'app.page.information.actions'|trans }}</summary>
                        <a href="{{ path('app_user_professor_student_reports', {'studentUserId': student.user.id}) }}"
                           class="btn btn-default">
                            <span class="glyphicon glyphicon-file"
                                  aria-hidden="true"></span> {{ 'app.page.information.show_his_report'|trans }}
                        </a>
                        {% render(controller("AppBundle:Student/Meeting:getMeeting", { 'userId': student.user.id })) %}
                        <a href="{{ path('communication_bundle_message_send_professor_to_student', {'studentUserId': student.user.id}) }}"
                           class="btn btn-default">
                            <span class="glyphicon glyphicon-envelope"
                                  aria-hidden="true"></span> {{ 'app.page.information.send_message'|trans }}
                        </a>
                        <a href="{{ path('communication_bundle_message_send_professor_to_tutor', {'studentUserId': student.user.id}) }}"
                           class="btn btn-default">
                            <span class="glyphicon glyphicon-envelope"
                                  aria-hidden="true"></span> {{ 'app.page.information.contact_tutor'|trans }}
                        </a>
                        <a href="{{ path('communication_bundle_message_send_professor_to_student_and tutor', {'studentUserId': student.user.id}) }}"
                           class="btn btn-default">
                            <span class="glyphicon glyphicon-envelope"
                                  aria-hidden="true"></span> {{ 'app.page.information.contact_both'|trans }}
                        </a>
                    </details>
                </div>
            {% endfor %}
        {% else %}
            <p>{{ 'app.page.information.student_not_set'|trans }}</p>
        {% endif %}
    </div>
</article>
