{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.report_create'|trans }}</h1>
            </div>

            <article class="row">
                {{ form_start(form, {attr: {class: 'col-xs-offset-1 col-xs-10' }}) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.attachment) }}

                    <input type="submit" value="{{ 'app.form.button.send'|trans }}" class="btn btn-primary"/>
                    <a href="{{ app.request.get('referer') }}" class="btn btn-default">
                        {{ 'app.form.button.cancel'|trans }}
                    </a>
                {{ form_end(form) }}
            </article>

            <div class="row">
                <p class="col-xs-12">
                    <br/>
                    <br/>
                    <br/>
                    <a href="{{ path('app_user_report') }}"><span class="glyphicon glyphicon-arrow-left"></span> {{ 'app.page.link.back_to_report_list'|trans }}</a>
                </p>
            </div>

        </div>
    </section>
{% endblock %}
