{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.reports'|trans }}</h1>
            </div>

            {% if app.user.isStudent %}
                <a class="btn btn-default" href="{{ path('app_user_report_create') }}" role="button">
                    {{ 'app.form.button.add'|trans }}
                </a>
            {% endif %}

            {% include 'AppBundle:partials:pagination.html.twig' with {'pagination': pagination} %}

            <article class="row">

                {% for report in reports %}
                    <div class="list-group col-xs-offset-1 col-sm-10">
                        <a href="{{ path('app_user_report_show', {reportId: report.id}) }}" class="list-group-item row">
                            <div class="col-sm-6">
                                <h4 class="list-group-item-heading">
                                    {{ report.title }}
                                    <small>{{ 'app.page.information.posted_at'|trans ~ ' ' ~ report.createdAt|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</small>
                                </h4>
                                <p class="list-group-item-text">{{ report.author.firstName ~ ' ' ~ report.author.lastName }}</p>

                                <p class="list-group-item-text">
                                    <small>{{ 'app.page.information.total_comment'|transchoice(report.totalComment) }}</small>
                                </p>
                            </div>
                            <div class="col-sm-6 text-right">
                                {% if report.isValidated %}
                                    <button type="button" class="btn btn-success" disabled><span class="glyphicon glyphicon-ok"></span>{{ 'app.form.button.approuve'|trans }}</button>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </article>

            {% include 'AppBundle:partials:pagination.html.twig' with {'pagination': pagination} %}
        </div>
    </section>
{% endblock %}
