{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.report'|trans }}</h1>
            </div>

            {% if app.user.isTutor and not report.isValidated %}
                <a class="btn btn-default" href="{{ path('app_user_report_validate', {'reportId': report.id}) }}"
                   role="button">
                    {{ 'app.form.button.approuve'|trans }}
                </a>
            {% elseif report.isValidated %}
                <button type="button" class="btn btn-success" disabled><span
                            class="glyphicon glyphicon-ok"></span>{{ 'app.form.button.approuve'|trans }}</button>
            {% endif %}

            <article class="row">
                <div class="panel panel-default col-xs-offset-1 col-sm-10">
                    <h2 class="text-center">{{ report.title }}</h2>
                    <hr/>
                    <div class="panel-body">
                        <a href="{{ asset(report.attachment.path) }}" target="_blank">
                            {{ 'app.page.link.download_report'|trans }}
                        </a>
                    </div>
                </div>
            </article>

            {% for comment in report.comments %}
                <article class="row">
                    <div class="well {% if comment.author.id == report.author.id %}col-xs-offset-4 col-sm-offset-3 col-md-offset-5{% else %}col-sm-offset-1{% endif %} col-xs-8 col-md-6">
                        {% if comment.author.id == app.user.id %}
                            <a href="{{ path('app_report_remove_comment', {'reportId': report.id, 'commentId': comment.id}) }}"
                               class="close" data-dismiss="alert" aria-label="Close" title="{{ 'app.form.button.remove'|trans }}">
                                <span class="glyphicon glyphicon-remove btn-sm" aria-hidden="true"></span>
                            </a>
                            <button class="edit-comment close" data-dismiss="alert" title="{{ 'app.form.button.edit'|trans }}">
                                <span class="glyphicon glyphicon-pencil btn-sm" aria-hidden="true"></span>
                            </button>
                        {% endif %}
                        <div class="comment-content">
                            <p class="text-muted text-center">
                                <small><em>{{ comment.createdAt |localizeddate }}</em></small>
                            </p>
                            <blockquote>
                                <p>{{ comment.content|raw }}</p>
                                <footer class="text-right">
                                    {{ comment.author.firstName ~ ' ' ~ comment.author.lastName }}
                                    <br/>
                                </footer>
                            </blockquote>

                            <script>
                                $('button.edit-comment').click(function () {
                                    var url = '{{ path('app_report_edit_comment', {'reportId': report.id, 'commentId': comment.id}) }}';
                                    var $comment = $(this);
                                    $.ajax({
                                        url: url,
                                        type: 'post',
                                        success: function (html) {
                                            $comment.parent().find('.comment-content').replaceWith(html);
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </article>
            {% endfor %}

            <article class="row">
                {% render(controller("AppBundle:Report:writeComment", { 'reportId': report.id })) %}
            </article>

            <div class="row">
                <p class="col-xs-12">
                    <br/>
                    <br/>
                    <br/>
                    <a href="{{ path('app_user_report') }}">
                        <span class="glyphicon glyphicon-arrow-left"></span> {{ 'app.page.link.back_to_report_list'|trans }}
                    </a>
                </p>
            </div>

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('thirdparty/wysihtml5/dist/wysihtml5-0.3.0.min.js') }}"></script>
    <script src="{{ asset('thirdparty/wysihtml5/parser_rules/advanced.js') }}"></script>
    <script>
        var editor = new wysihtml5.Editor("create_comment_content", { // id of textarea element
            toolbar: "wysihtml5-toolbar", // id of toolbar element
            parserRules: wysihtml5ParserRules // defined in parser rules set
        });
    </script>
{% endblock %}