<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Plateforme de suivi d'alternance{% endblock %} | UPJV</title>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('thirdparty/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('thirdparty/bootstrap/css/bootstrap-theme.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('thirdparty/css/styles.css') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2"/>
    {% endblock %}
    <script src="{{ asset('thirdparty/jQuery/jquery.min.js') }}"></script>
</head>
<body>
<div id="wrapper">
    <header class="topHeader">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="{{ asset('thirdparty/images/logo.jpg') }}" alt="Logo Upjv"/>
                <a class="navbar-brand" href={{ path('app_homepage') }}>{{ 'app.navbar.brand'|trans }}</a>
            </div>
            {% block navbar %}{% endblock %}
        </div>
    </header>
    <div class="container-fluid">
        {% include 'default/partials/alerts.html.twig' %}
        {% block body %}
            {% block main %}
                <main class="row">
                    <aside class="col-sm-6 col-md-3">
                        {% block sidebar %}{% endblock %}
                    </aside>
                    <div class="col-sm-6 col-md-9">
                        {% block content %}{% endblock %}
                    </div>
                </main>
            {% endblock %}
        {% endblock %}
    </div>
</div>
<footer id="footerPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">&copy; copyright UPJV 2015 - projet Master 2 - Lefevre Arnaud, Dubois Paul, Dieu
                    David, Leconte Kevin</p>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}
    <script src="{{ asset('thirdparty/bootstrap/js/bootstrap.min.js') }}"></script>
    <script>
        $(".alert").fadeTo(2000, 500, function () {
            $(".alert").alert('close');
        });
    </script>
{% endblock %}
</body>
</html>
