{{ form_start(form, {attr: {class: 'col-xs-offset-1 col-sm-10'}}) }}
    {% include '@App/partials/wysihtml5_toolbar.html.twig' %}
    {{ form_row(form.content, { label: ' '} ) }}
    <input type="submit" value="{{ 'app.form.button.send'|trans }}" class="btn btn-primary"/>
    <a href="{{ app.request.get('referer') }}" class="btn btn-default">
        {{ 'app.form.button.cancel'|trans }}
    </a>
{{ form_end(form) }}
