{{ form_start(form) }}
    {{ form_row(form.content, { label: ' '} ) }}
    <input type="submit" value="{{ 'app.form.button.send'|trans }}" class="btn btn-primary"/>
    <a href="{{ app.request.get('referer') }}" class="btn btn-default">
        {{ 'app.form.button.cancel'|trans }}
    </a>
{{ form_end(form) }}
