{% if meeting is defined %}
    <p>
        {{ 'app.page.information.meeting.plannedAt'|trans }} <strong>{{ meeting.plannedAt|localizeddate('none', 'none', null, null, 'd MMMM Y à h:m') }}</strong>
        {{ 'app.page.information.meeting.at'|trans }} <strong>{{ meeting.place }}</strong>
    </p>
{% else %}
    <a href="{{ path('app_user_meeting_create', {'userId': userId}) }}" class="btn btn-default">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ 'app.page.information.meeting.create'|trans }}
    </a>
{% endif %}
