<div class="col-sm-12">
    {% if meeting is defined %}
       <p>{{ 'app.page.information.meeting.plannedAt'|trans }} <strong>{{ meeting.plannedAt|localizeddate('none', 'none', null, null, 'd MMMM Y à h:m') }}</strong></p>
    {%  else %}
        <p>{{ 'app.page.information.meeting.no_plannification'|trans }}</p>
    {% endif %}
</div>