{% if student %}
    <div class="col-sm-5">
        <blockquote>
            <address>
                <strong>{{ student.user.completeName }}</strong><br>
                <strong>{{ student.promotion }}</strong><br>
            </address>
        </blockquote>
    </div>
    {% if student.userSchoolTutor %}
        <div class="col-sm-5">
            <blockquote>
                <address>
                    <strong>{{ student.userSchoolTutor.user.completeName }}</strong><br>
                    <strong>{{ student.userSchoolTutor.companyName }}</strong><br>
                    {{ student.userSchoolTutor.street }}<br>
                    {{ student.userSchoolTutor.city }}, {{ student.userSchoolTutor.zipCode }}
                    - {{ student.userSchoolTutor.country }}<br>
                </address>
                <a class="btn btn-default"
                   href="{{ path('communication_bundle_create_new_message_to_professor_from_tutor') }}">
                    <span class="glyphicon glyphicon-pencil"></span> {{ 'app.page.information.send_message'|trans }}
                </a>
            </blockquote>
        </div>
    {% endif %}
{% endif %}
