{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.my_account'|trans }}</h1>
            </div>

            <article class="col-xs-offset-1 col-xs-10">
                <table class="table">
                    <tr>
                        <th class="text-right">{{ 'app.account.user.last_name'|trans }}</th>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">{{ 'app.account.user.first_name'|trans }}</th>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">{{ 'app.account.user.phone_number'|trans }}</th>
                        <td>{% if user.phoneNumber %}{{ user.phoneNumber }}{% else %}N/C{% endif %}</td>
                    </tr>
                    <tr>
                        <th class="text-right">{{ 'app.account.user.email'|trans }}</th>
                        <td>{{ user.email }}</td>
                    </tr>
                </table>

                {{ include('AppBundle:Account/partials:change_password_form.html.twig', {'form': formPassword }) }}
            </article>
        </div>
    </section>
{% endblock %}