{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.homepage'|trans }}</h1>
            </div>

            <article class="row">
                {% if app.user.isStudent %}
                    {% render(controller('AppBundle:Student/Student:getMeeting')) %}
                    {% render(controller('AppBundle:Student/Student:getTutors')) %}
                {% elseif app.user.isTutor %}
                    {% render(controller('AppBundle:Tutor/CompanyTutor:getMeeting')) %}
                    {% render(controller('AppBundle:Tutor/CompanyTutor:getStudent')) %}
                {% elseif app.user.isProfessor %}
                    {% render(controller('AppBundle:Tutor/SchoolTutor:getStudents')) %}
                {% elseif app.user.isTrainingManager %}
                    {% render(controller('AppBundle:TrainingManager/TrainingManager:getPromotion')) %}
                {% endif %}
            </article>

        </div>
    </section>
{% endblock %}
