{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.users'|trans }}</h1>
            </div>

            <a class="btn btn-default" href="{{ path('user_bundle_create_new_user') }}" role="button">
                {{ 'app.form.button.add'|trans }}
            </a>

            <a class="btn btn-default" href="{{ path('user_bundle_import_csv_user') }}" role="button">
                {{ 'app.form.button.import_students'|trans }}
            </a>

            {% include 'AppBundle:partials:pagination.html.twig' with {'pagination': pagination} %}

            <article class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'app.account.user.first_name'|trans }}</th>
                        <th>{{ 'app.account.user.last_name'|trans }}</th>
                        <th>{{ 'app.account.user.login_identifier'|trans }}</th>
                        <th>{{ 'app.account.user.email'|trans }}</th>
                        <th>{{ 'app.account.user.group'|trans }}</th>
                        <th colspan="2">{{ 'app.page.information.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in  users %}
                        <tr>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.loginIdentifier }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.group.name }}</td>
                            <td>
                                <a href="{{ path('user_bundle_show_user', {'userIdentifier': user.loginIdentifier}) }}"
                                   class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                                {% if is_granted('ROLE_SECRETARY') %}
                                <a href="{{ path('user_bundle_modify_user', {'userId': user.id}) }}"
                                   class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="{{ path('user_bundle_remove_user', {'id': user.loginIdentifier}) }}"
                                       class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>

            {% include 'AppBundle:partials:pagination.html.twig' with {'pagination': pagination} %}

        </div>
    </section>
{% endblock %}
