{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.users'|trans }}</h1>
            </div>

            {{ form_start(form, {attr: {class: 'col-xs-offset-1 col-xs-10' }}) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phoneNumber) }}
            {{ form_row(form.group) }}
            {{ form_row(form.password) }}

            <input type="submit" value="{{ 'app.form.button.send'|trans }}" class="btn btn-primary"/>
            <a href="{{ app.request.get('referer') }}" class="btn btn-default">
                {{ 'app.form.button.cancel'|trans }}
            </a>
            {{ form_end(form) }}

        </div>
    </section>
{% endblock %}
