{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.user'|trans }}</h1>
            </div>

            <div class="row">
                <article class="col-xs-offset-1 col-xs-9">
                    <table class="table">
                        <tr>
                            <th class="text-right col-xs-5">{{ 'app.account.user.last_name'|trans }}</th>
                            <td class="col-xs-5">{{ user.lastName }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{{ 'app.account.user.first_name'|trans }}</th>
                            <td>{{ user.firstName }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{{ 'app.account.user.login_identifier'|trans }}</th>
                            <td>{{ user.loginIdentifier }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{{ 'app.account.user.phone_number'|trans }}</th>
                            <td>{% if user.phoneNumber %}{{ user.phoneNumber }}{% else %}N/C{% endif %}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{{ 'app.account.user.email'|trans }}</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{{ 'app.account.user.default_password'|trans }}</th>
                            <td>{{ defaultPassword }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">{{ 'app.account.user.group'|trans }}</th>
                            <td>{{ user.group }}</td>
                        </tr>
                    </table>
                </article>

                {% if is_granted('ROLE_SECRETARY') %}
                    <div class="col-xs-1">
                        <a href="{{ path('user_bundle_modify_user', {'userId': user.id}) }}"
                           class="btn btn-default">{{ 'app.form.button.edit'|trans }}</a>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                {% if user.group == 'Tuteur' %}
                    {% render(controller("AppBundle:Tutor/CompanyTutor:show", { 'userId': user.id })) %}
                {% elseif user.group == 'Professeur' %}
                    {% render(controller("AppBundle:Tutor/SchoolTutor:show", { 'userId': user.id })) %}
                {% elseif user.group == 'Étudiant' %}
                    {% render(controller("AppBundle:Student/Student:show", { 'userId': user.id })) %}
                {% elseif user.group == 'Responsable de formation' %}
                    {% render(controller("AppBundle:TrainingManager/TrainingManager:show", { 'userId': user.id })) %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
