        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">{{ app.user.firstName }} {{ app.user.lastName }}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('app_account') }}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{ 'app.navbar.my_account'|trans }}
                            </a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('logout') }}"><span
                                        class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;{{ 'app.navbar.logout'|trans }}
                            </a></li>
                    </ul>
                </li>
            </ul>
        </div>

