{% if pagination.pages_count > 1 %}
    <nav class="text-center">
        <ul class="pagination pagination-sm">
            {% if pagination.page >1 %}
                <li>
                    <a href="{{ path(pagination.route,pagination.route_params|merge({'page': 1})) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path(pagination.route,pagination.route_params|merge({'page': pagination.page-1})) }}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {# display p numbers only from p-4 to p+4 but don't go < 1 or > pages_count #}
            {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.pages_count)) %}
                <li{% if p == pagination.page %} class="active"{% endif %}>
                    <a href="{{ path(pagination.route, pagination.route_params|merge({'page': p})) }}">
                        <span>{{ p }} <span class="sr-only">(current)</span></span>
                    </a>
                </li>
            {% endfor %}

            {% if pagination.page<pagination.pages_count %}
                <li>
                    <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.page+1})) }}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path(pagination.route, pagination.route_params|merge({'page': pagination.pages_count})) }}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
