<div id="wysihtml5-toolbar" style="display: none;">
    <div class="btn-toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="glyphicon glyphicon-font"></span>
                &nbsp;Normal text&nbsp;
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="div" href="javascript:;" unselectable="on">Normal text</a></li>
                <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" href="javascript:;" unselectable="on">Heading 1</a></li>
                <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" href="javascript:;" unselectable="on">Heading 2</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn btn-default" data-wysihtml5-command="bold" title="CTRL+B" href="javascript:;" unselectable="on"><strong>B</strong></a>
            <a class="btn btn-default" data-wysihtml5-command="italic" title="CTRL+I" href="javascript:;" unselectable="on"><em>I</em></a>
            <a class="btn btn-default" data-wysihtml5-command="underline" title="CTRL+U" href="javascript:;" unselectable="on"><u>U</u></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-default" data-wysihtml5-command="insertUnorderedList" title="Unordered List" href="javascript:;" unselectable="on"><span class="glyphicon glyphicon-list"></span></a>
            <a class="btn btn-default" data-wysihtml5-command="insertOrderedList" title="Ordered List" href="javascript:;" unselectable="on"><span class="glyphicon glyphicon-th-list"></span></a>
            <a class="btn btn-default" data-wysihtml5-command="Outdent" title="Outdent" href="javascript:;" unselectable="on"><span class="glyphicon glyphicon-indent-right"></span></a>
            <a class="btn btn-default" data-wysihtml5-command="Indent" title="Indent" href="javascript:;" unselectable="on"><span class="glyphicon glyphicon-indent-left"></span></a>
        </div>
        <div class="btn-group">
            <div id="wysihtml5-insert-link-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Insert Link</h4>
                        </div>
                        <div class="modal-body row">
                            <input data-wysihtml5-dialog-field="href" value="http://" class="col-xs-10 col-xs-offset-1" required="false">
                        </div>
                        <div class="modal-footer">
                            <button data-wysihtml5-dialog-action="cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button data-wysihtml5-dialog-action="save" class="btn btn-primary">Insert link</button>
                        </div>
                    </div>
                </div>
            </div>

            <a class="btn btn-default" data-toggle="modal" data-target="#wysihtml5-insert-link-modal" data-wysihtml5-command="createLink" title="Link" href="javascript:;" unselectable="on">
                <span class="glyphicon glyphicon-link"></span>
            </a>
        </div>
    </div>
</div>
