{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.promotions'|trans }}</h1>
            </div>
            <a class="btn btn-default" href="{{ path('app_user_student_create_new_promotion') }}" role="button">
                {{ 'app.form.button.add'|trans }}
            </a>
            <article class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'app.page.information.formation'|trans }}</th>
                        <th>{{ 'app.page.information.promotion'|trans }}</th>
                        <th>{{ 'app.page.information.download_calendar'|trans }}</th>
                        <th>{{ 'app.page.information.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for promotion in promotions %}
                        <tr>
                            <td>{{ promotion.id }}</td>
                            <td>{{ promotion.formation.name }}</td>
                            <td>{{ promotion.year }}</td>
                            <td>
                                {% if promotion.alternationCalendarPath %}
                                    <a href="{{ asset(promotion.alternationCalendarPath) }}" target="_blank"
                                       title="{{ promotion.formation.name }} {{ promotion.year }}">{{ 'app.page.link.download_calendar'|trans }}</a>
                                {% else %}
                                    <p>{{ 'app.page.information.alternation_calendar_not_set'|trans }}</p>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('app_user_student_promotion_show', {'promotionId': promotion.id}) }}"
                                   class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="{{ path('app_user_student_edit_promotion', {'promotionId': promotion.id}) }}"
                                   class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="{{ path('app_user_student_remove_promotion', {'promotionId' : promotion.id}) }}"
                                   class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>
        </div>
    </section>
{% endblock %}
