{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.promotion'|trans }}</h1>
            </div>
            <article class="col-xs-offset-1 col-xs-10">
                <table class="table">
                    <tr>
                        <th class="text-right">{{ 'app.page.information.formation'|trans }}</th>
                        <td>{{ promotion.formation.name }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">{{ 'app.page.information.promotion'|trans }}</th>
                        <td>{{ promotion.year }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">{{ 'app.page.information.download_calendar'|trans }}</th>
                        <td>
                            {% if promotion.alternationCalendarPath %}
                                <a href="{{ asset(promotion.alternationCalendarPath) }}" target="_blank"
                                   title="{{ promotion.formation.name }} {{ promotion.year }}">
                                    {{ 'app.page.link.download_calendar'|trans }}
                                </a>
                            {% else %}
                                <p>{{ 'app.page.information.alternation_calendar_not_set'|trans }}</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </article>
        </div>
    </section>
{% endblock %}
