{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.import_students'|trans }}</h1>
            </div>

            <article class="row">
                <p class="col-xs-offset-1 col-xs-10">
                    {{ 'app.page.information.download_student_csv_example'|trans({'%link%': '/data/exemple_de_liste_etudiant.csv'})|raw }}
                </p>
                {{ form_start(form, {attr: {class: 'col-xs-offset-1 col-xs-10' }}) }}
                    {{ form_row(form.csvFile) }}
                    {{ form_row(form.promotion) }}

                    <input type="submit" value="{{ 'app.form.button.send'|trans }}" class="btn btn-primary"/>
                {{ form_end(form) }}
            </article>
        </div>
    </section>
{% endblock %}
