{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.not_imported_students'|trans }}</h1>

                <p>{{ 'app.page.information.not_imported_students'|trans }}</p>
            </div>

            <article class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'app.account.user.first_name'|trans }}</th>
                        <th>{{ 'app.account.user.last_name'|trans }}</th>
                        <th>{{ 'app.account.user.email'|trans }}</th>
                        <th>{{ 'app.account.user.phone_number'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in  users %}
                        <tr>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phoneNumber }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>
        </div>
    </section>
{% endblock %}
