{% extends '::base.html.twig' %}

{% block body %}
    <section class="row">
        <div class="jumbotron">
            <h1>{{ 'app.page.title.universite_picardie'|trans }}</h1>
            <p>{{ 'app.page.information.please_connect_to_use_it'|trans }}</p>
            <div class="row">
                <form action="{{ path('login_check') }}" method="post" class="col-md-offset-4 col-md-4">
                    <div class="form-group">
                        <label for="email">{{ 'app.form.authenticate.email_or_student_identifier' |trans }}&nbsp;:</label>
                        <input class="form-control" type="text" id="email" name="_username" autofocus="true" value="{{ last_username }}" placeholder="{{ 'app.form.authenticate.email_or_student_identifier'|trans }}" />
                    </div>
                    <div class="form-group">
                        <label for="password">{{ 'app.form.authenticate.password' |trans }}&nbsp;:</label>
                        <input class="form-control" type="password" id="password" name="_password" placeholder="{{ 'app.form.authenticate.password'|trans }}" />
                    </div>

                    <div class="form-group">
                        <label for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me" checked/>&nbsp;
                            {{ 'app.form.authenticate.remember_me'|trans }}
                        </label>
                    </div>

                    <input type="hidden" name="_csrf_token"/>

                    <button type="submit" class="btn btn-default">{{ 'app.form.authenticate.login' |trans }}</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
