<div class="company-tutor-information">
    <article class="col-xs-offset-1 col-xs-9">
        <table class="table">
            <tr>
                <th class="text-right col-xs-5">{{ 'app.account.user.company_name'|trans }}</th>
                <td class="col-xs-5">{{ companyTutor.companyName }}</td>
            </tr>
            <tr>
                <th class="text-right">{{ 'app.account.user.address.street'|trans }}</th>
                <td>{{ companyTutor.street }}</td>
            </tr>
            <tr>
                <th class="text-right">{{ 'app.account.user.address.zip_code'|trans }}</th>
                <td>{{ companyTutor.zipCode }}</td>
            </tr>
            <tr>
                <th class="text-right">{{ 'app.account.user.address.city'|trans }}</th>
                <td>{{ companyTutor.city }}</td>
            </tr>
            <tr>
                <th class="text-right">{{ 'app.account.user.address.country'|trans }}</th>
                <td>{{ companyTutor.country }}</td>
            </tr>
        </table>
    </article>
    <div class="col-xs-1">
        <button class="edit-company-tutor btn btn-default">
            {{ 'app.form.button.edit'|trans }}
        </button>
    </div>
</div>

<script>
    $('button.edit-company-tutor').click(function () {
        var url = '{{ path('app_company_tutor_edit', {'userId': companyTutor.user.id}) }}';
        $.ajax({
            url: url,
            type: 'post',
            success: function (html) {
                $('.company-tutor-information').replaceWith(html);
            }
        });
    });
</script>
