{% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
{% if app.session.flashBag is defined %}
    {% for alertType in alertTypeAvaillable %}
        {% for alert in app.session.flashBag.get(alertType) %}
            {% if alertType == 'error' %}{% set alertType = 'danger' %}{% endif %}
            <div class="row">
                <div class="alert alert-{{ alertType }} alert-dismissible fade in col-md-offset-3 col-md-6" role="alert" style="position: absolute; z-index: 9999;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ alert|trans }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
