{% extends 'CommunicationBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.my_messages'|trans }}</h1>
            </div>

            {% include 'AppBundle:partials:pagination.html.twig' with {'pagination': pagination} %}

            <article class="row">
                <div class="table-responsive col-xs-12">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'app.page.information.title'|trans }}</th>
                            <th>{{ 'app.page.information.author'|trans }}</th>
                            <th class="hidden-xs">{{ 'app.page.information.created_at'|trans }}</th>
                            <th class="hidden-xs">{{ 'app.page.information.last_message_at'|trans }}</th>
                            <th>{{ 'app.page.information.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for flow in flows %}
                                <tr>
                                    <td>{{ flow.title }}</td>
                                    <td>{{ flow.firstMessage.author.username }}</td>
                                    <td class="hidden-xs">{{ flow.createdAt|localizeddate }}</td>
                                    <td class="hidden-xs">{{ flow.lastMessage.createdAt|localizeddate }}</td>
                                    <td><a href="{{ path('communication_bundle_read_flow', {'id': flow.id}) }}" class="btn btn-default">{{ 'app.form.button.see'|trans }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </article>

            {% include 'AppBundle:partials:pagination.html.twig' with {'pagination': pagination} %}

        </div>
    </section>
{% endblock %}