{% extends 'CommunicationBundle::layout.html.twig' %}

{% block content %}
<section class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>{{ 'app.page.title.my_messages'|trans }}</h1>
        </div>

        <p class="text-muted">
            {{ 'app.page.information.message.participants'|trans }}&nbsp;:&nbsp;
            {% for participant in flow.participants %}
                {{ participant.lastName }} {{ participant.firstName }},
            {% endfor %}
        </p>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">{{ flow.title }}</div>
                <small class="text-muted"><em>{{ 'app.page.information.writed_by_at'|trans({'%author%': flow.firstMessage.author.completeName, '%date%': flow.createdAt|localizeddate }) }}</em></small>
            </div>
            <div class="panel-body">
                {% if flow.firstMessage.author.id == app.user.id %}
                    <button class="edit-first_message close" data-dismiss="alert" title="{{ 'app.form.button.edit'|trans }}">
                        <span class="glyphicon glyphicon-pencil btn-sm" aria-hidden="true"></span>
                    </button>
                {% endif %}
                <div class="first_message-content">
                    <p>{{ flow.firstMessage.content|raw }}</p>
                </div>
                <script>
                    $('button.edit-first_message').click(function () {
                        var url = '{{ path('communication_bundle_edit_message', {'flowId': flow.id, 'messageId': flow.firstMessage.id}) }}';
                        var $message = $(this);
                        $.ajax({
                            url: url,
                            type: 'post',
                            success: function (html) {
                                $message.parent().find('.first_message-content').replaceWith(html);
                            }
                        });
                    });
                </script>

                {% if flow.firstMessage.attachments %}
                    <a href=""><span class="glyphicon glyphicon-paperclip"></span> {{ 'app.page.information.download_attachment'|trans }}</a>
                {% endif %}

                {% for message in flow.messages %}
                    {% if message.id != flow.firstMessage.id %}
                        <hr/>
                        <small class="text-muted"><em>{{ 'app.page.information.responsed_by_at'|trans({'%author%': message.author.completeName, '%date%': message.createdAt|localizeddate }) }}</em></small>
                        {% if message.author.id == app.user.id %}
                        <button class="edit-message close" data-dismiss="alert" title="{{ 'app.form.button.edit'|trans }}">
                            <span class="glyphicon glyphicon-pencil btn-sm" aria-hidden="true"></span>
                        </button>
                        {% endif %}
                        <div class="message-content">
                            {{ message.content|raw }}
                        </div>

                        {% if message.attachments %}
                            <a href=""><span class="glyphicon glyphicon-paperclip"></span> {{ 'app.page.information.download_attachment'|trans }}</a>
                        {% endif %}

                        <script>
                            $('button.edit-message').click(function () {
                                var url = '{{ path('communication_bundle_edit_message', {'flowId': flow.id, 'messageId': message.id}) }}';
                                var $message = $(this);
                                $.ajax({
                                    url: url,
                                    type: 'post',
                                    success: function (html) {
                                        $message.parent().find('.message-content').replaceWith(html);
                                    }
                                });
                            });
                        </script>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {% render(controller("CommunicationBundle:Message:writeResponse", { 'flowId': flow.id })) %}
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('thirdparty/wysihtml5/dist/wysihtml5-0.3.0.min.js') }}"></script>
    <script src="{{ asset('thirdparty/wysihtml5/parser_rules/advanced.js') }}"></script>
    <script>
        var editor = new wysihtml5.Editor("create_response_content", { // id of textarea element
            toolbar: "wysihtml5-toolbar", // id of toolbar element
            parserRules: wysihtml5ParserRules // defined in parser rules set
        });
    </script>
{% endblock %}
