{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <input type="submit" value="{{ 'app.form.button.send'|trans }}" class="btn btn-primary"/>
        <a href="{{ app.request.get('referer') }}" class="btn btn-default">
            {{ 'app.form.button.cancel'|trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}