{% extends 'UserBundle::layout.html.twig' %}

{% block content %}
    <section class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>{{ 'app.page.title.formations'|trans }}</h1>
            </div>
            <a class="btn btn-default" href="{{ path('app_user_student_create_new_formation') }}" role="button">
                {{ 'app.form.button.add'|trans }}
            </a>
            <article class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'app.page.information.formation'|trans }}</th>
                        <th>{{ 'app.page.information.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for formation in formations %}
                        <tr>
                            <td>{{ formation.name }}</td>
                            <td>
                                <a href="{{ path('app_user_student_remove_formation', {'formationId' : formation.id}) }}"
                                   class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>
        </div>
    </section>
{% endblock %}
