{% if promotion %}
    <div class="col-sm-5">
        <blockquote>
            <p>{{ promotion.formationName }} ({{ promotion.year }})</p>
            <a href="{{ asset(promotion.alternationCalendarPath) }}" class="list-group-item" target="_blank">
        <span class="glyphicon glyphicon-calendar"
              aria-hidden="true"></span> {{ 'app.sidebar.alternation_calendar'|trans }}
            </a>
        </blockquote>
    </div>
{% else %}
    <div class="col-sm-5">
        <p>{{ 'app.page.information.promotion_not_set'|trans }}</p>
    </div>
{% endif %}
