<div class="student-information">
    <article class="col-xs-offset-1 col-xs-9">
        <table class="table">
            <tr>
                <th class="text-right col-xs-5">{{ 'app.account.user.promotion'|trans }}</th>
                <td class="col-xs-5">{{ student.promotion }}</td>
            </tr>
            <tr>
                <th class="text-right">{{ 'app.account.user.company_tutor_name'|trans }}</th>
                <td>{{ student.userCompanyTutor }}</td>
            </tr>
            <tr>
                <th class="text-right">{{ 'app.account.user.university_tutor_name'|trans }}</th>
                <td>{{ student.userSchoolTutor }}</td>
            </tr>
        </table>
    </article>
    <div class="col-xs-1">
        <button class="edit-student btn btn-default">
            {{ 'app.form.button.edit'|trans }}
        </button>
    </div>
</div>

<script>
    $('button.edit-student').click(function () {
        var url = '{{ path('app_user_student_edit', {'userId': student.user.id}) }}';
        $.ajax({
            url: url,
            type: 'post',
            success: function (html) {
                $('.student-information').replaceWith(html);
            }
        });
    });
</script>
